.App {
  text-align: center;
}


.App-header {
  font-family: 'Antic Slab', serif;
  background-color: #044255;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: white;
}



